  
  html, body { height: 100%; }
  html,
  body {
    background-color: #333333;
    font-family: 'Comfortaa', 'cursive';
    height: 100%;
    margin: 0;
    overflow: hidden;
    width: 100%;
  }

.header {
  align-items: center;
  display: flex;
  font-family: 'Comfortaa', 'cursive';
  height: 60px;
  justify-content: center;
}

@media screen and (max-width: 525px) {
  .header #title {
    color: #ebebeb;
    font-size: 10vw;
    font-weight: 700;
  }
}

@media screen and (min-width: 526px) {
  .header #title {
    color: #ebebeb;
    font-size: 50px;
    font-weight: 700;
  }
}

.bubble {
  width: 20%;
  margin: 10px auto;
  border-radius: 15px;
  background: #C77C7C;
  color: #ebebeb;
  padding: 5px;
  text-align: center;
  font-weight: 500;
  position: relative;
}

#liveState {
  visibility: hidden;
}

canvas {
    /* position: absolute; */
    top: 0;
  }

  .controls {
    display: none;
  }

